<template>
  <div>
    <div v-if="$nuxt.isOffline">You are offline</div>
    <div v-else>
      <!-- Navigation -->
      <Navigation />
      <!-- Content -->
      <div class="container content">
        <!-- Content -->
        <nuxt />
      </div>
      <!-- Footer -->
      <!-- <div id="footcopy" class="footer">Copyright here</div> -->
    </div>
    <!-- <nuxt /> -->
  </div>
</template>

<style scoped>
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: chocolate;
}
</style>

<script>
import Navigation from "~/components/navigation.vue";
import Banner from "~/components/banner.vue";
export default {
  components: {
    Navigation,
    Banner,
  },
};
</script>
