<template>
  <div class="mt-5">
    <div class="container">
      <div class="card-columns">
        <div
          class="card"
          v-for="item in posts"
          v-bind:key="item.key"
          @click="openDetail(item)"
        >
          <img
            class="card-img-top"
            :src="item.urlToImage"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted"
                >{{ item.author }} - {{ item.source.name }}</small
              >
            </p>
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">
              <small class="text-muted">{{ item.publishedAt }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div v-if="loading" class="justify-content-center text-center">
      <img width="105px" src="../assets/resource/loading.gif" />
    </div>

    <i class="fa fa-edit"
      ><button class="btn btn-primary btn-more" @click="loadMore">
        Lainnya
      </button></i
    >
    <br />
  </div>
</template>
<style lang="scss" scoped>
.btn-more {
  margin: 20px auto;
  display: block;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.fa-spinner {
  animation: spinner 1s linear infinite;
}
a:hover {
  cursor: pointer;
}
</style>
<script>
// import statusoff from "v-offline";

import axios from "axios";
export default {
  data() {
    return {
      loading: false,
      allPost: [],
      posts: [],
      current: 9,
    };
  },
  created() {
    this.fetchData();
    // console.log(statusoff);
  },
  methods: {
    loadMore() {
      this.loading = true;
      this.posts = [];
      this.current += 9;
      this.allPost.map((item, key) =>
        item.description !== null && this.posts.length < this.current
          ? this.posts.push(item)
          : ""
      );
      this.loading = false;
    },
    openDetail(data) {
      this.$store.commit("setArticle", data);
      this.$router.replace({ path: "/detail" });
    },
    async fetchData() {
      this.loading = true;
      axios(
        "https://newsapi.org/v2/everything?q=programming&domains=techcrunch.com,techinasia.com&apiKey=API_KEY",
        {
          crossDomain: true,
        }
      ).then(({ data }) => {
        this.allPost = data.articles;
        data.articles.map((item, key) => {
          if (item.description !== null && this.posts.length < 9) {
            this.posts.push(item);
          }
        });
        this.loading = false;
      });
    },
  },
};
</script>
