<template>
  <div>
    Selamat datang di halaman beranda Portal News menggunakan framework
    javascript yaitu VueJs menggunakan NuxtJs. Sehingga website menjadi lebih
    ringan dan lebih cepat dalam melakukan akses. Disini tidak menggunakan SPA
    melainkan menggunakan SSR
  </div>
</template>